* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --color-prin-txt: #37ecba;
    --color-bord: rgba(34, 100, 185, 0.705);
    --color-hov-btn: #0000FF;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

h1 {
    color: var(--color-prin-txt);
}

.header {
    height: 100vh;
    background-image: url(img/adam-borkowski-DTTMBhjhjhXNnD8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.hamburguer {
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 rgba(0, 0, 0, .5);
}

.hamburguer:hover {
    background: var(--color-hov-btn);

}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
}

.menu-navegacion {
    position: fixed;
    top: 30px;
    right: 70px;
    width: 85%;
    height: 40px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(150%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    border-radius: 50px;
}

.spread {
    transform: translate(0);
}

.menu-navegacion a {
    color: white;
    text-decoration: none;
    display: inline;
}

.nav:hover {
    color: var(--color-prin-txt);
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
}

.copy {
    width: 90%;
    font-weight: 300;
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.sup-line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #37ecba;
    margin-top: 30px;
    margin-bottom: 10px;
}

.correo-contacto {
    font-size: 20px;
}

.subtitulo {
    text-align: center;
    font-weight: 300;
    color: rgb(79, 101, 196);
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img {
    width: 40%;
}

.checklist-servicio {
    width: 45%;
}

.service {
    margin-bottom: 20px;
}

.n-service {
    margin-bottom: 7px;
    color: #3f79cf;
}

.n-service:hover {
    margin-bottom: 7px;
    color: silver;
}

.number {
    display: inline-block;
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.galery {
    background: rgba(169, 185, 216, 0.404);
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria {
    object-fit: contain;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage {
    transform: scale(1);
}

.close {
    position: absolute;
    color: var(--color-prin-txt);
    top: 15px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

/*--------paquetes--------*/
.container-paq {
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: space-evenly;
}

.columna {
    width: 30%;
    margin: 15px;
    padding: 35px;
    text-align: center;
    border-radius: 5px;
    background: rgba(228, 228, 228, 0.8);
    color: rgb(138, 133, 133);
    border: 2px solid rgb(97, 93, 93);
    box-shadow: -5px 5px 5px rgb(60, 146, 196);
}

.columna:hover {
    background: url("img/Visions of Grandeur.jpg");
    padding-bottom: 0.1px;
    box-shadow: none;
    border-color: var(--color-bord);
}

.tittle-paq {
    background-color: rgb(0, 0, 255);
    color: aqua;
}

.columna span {
    font-size: 50px;
    color: var(--color-prin-txt);
    text-decoration: none;
}

.btn-precio {
    padding: 10px 40px;
    background: rgba(13, 83, 173, 0.705);
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid var(--color-bord);
    border-radius: 5px;
}

.btn-precio:hover {
    background: var(--color-hov-btn);
    border: 2px solid var(--color-hov-btn);
    border-radius: 5px;
}

/*---------footer-------------*/

footer {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
}

.footer-content {
    width: 90%;
    display: flex;
    margin: 0 auto;
    display: flex;
}

.logo-info {
    width: 70%;
    display: flex;
    align-items: center;
}

.descripcion {
    width: 100%;
    height: 70px;
    color: white;
    display: block;
    margin: auto 0;
}

.logo-inf {
    width: 60px;
    height: 60px;

}

.brand {
    font-weight: 500;
    font-size: 40px;
    display: block;
    align-items: center;
}

.brand+p {
    font-weight: 400;
    display: block;
}

.social-media {
    width: 30%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.social-media .icons {
    display: inline-block;
    margin-right: 30px;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(0, 0, 255, 0.515);
    border-radius: 50%;
    text-align: center;
    color: var(--color-hov-btn);
}

.icons:hover {
    background: var(--color-hov-btn);
    color: white;
}

.social-media .icons i {
    font-size: 30px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #37ecba;
    margin-bottom: 60px;
}


@media screen and (max-width: 800px) {

    /*header*/
    .hamburguer {
        width: 35px;
        height: 35px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .menu-navegacion {
        width: 70%;
        height: 35px;
    }

    .titulo {
        font-size: 24px;
    }

    .copy {
        font-size: 16px;
    }

    .correo-contacto {
        font-size: 20px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .contenedor-servicio img {
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio {
        width: 80%;
    }

    .service {
        margin-bottom: 30px;
    }

    .img-galeria {
        width: 40%;
    }

    .agregar-imagen {
        width: 80%;
    }

    /*paquetes*/

    .columna {
        width: 40%;
        padding: 20px;
        border-radius: 5px;
        font-size: 12px;
    }

    .tittle-paq {
        font-size: 18px;
    }

    .columna span {
        font-size: 20px;
    }

    .btn-precio {
        padding: 5px 20px;
        font-size: 18px;
        border-radius: 3px;
    }

    /*footer*/
    .footer-content {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .logo-info {
        width: 70%;
    }

    .descripcion {
        width: 80%;
        height: 100%;
    }

    .brand {
        font-size: 36px;
    }

    .descripcion p {
        font-size: 14px;
    }

    .social-media {
        width: 30%;
        height: 70px;
        align-items: center;
    }

    .social-media .icons {
        font-size: 30px;
        margin: 0 auto;
        width: 40px;
        height: 40px;

    }

    .social-media .icons i {
        font-size: 28px;
        line-height: 38px;
    }
}


@media screen and (max-width: 600px) {

    .hamburguer {
        width: 28px;
        height: 28px;
    }

    .menu-navegacion {
        width: 60%;
        height: 28px;
        font-size: 10px;
    }

    .titulo {
        font-size: 16px;
    }

    .copy {
        font-size: 12px;
    }

    .correo-contacto {
        font-size: 14px;
    }

    .subtitulo {
        font-size: 22px;
    }

    .n-service {
        font-size: 16px;
        margin-left: 30px;
    }

    .service p {
        font-size: 14px;
    }

    /*galeria*/
    .img-galeria {
        width: 80%;
    }

    .agregar-imagen {
        width: 80%;
    }

    /*paquetes*/

    .container-paq {
        flex-wrap: wrap;
    }

    .tittle-paq {
        font-size: 25px;
    }

    .columna span {
        font-size: 30px;
    }

    .columna {
        width: 80%;
        padding: 30px;
        margin: 20px auto;
        font-size: 20px;
    }

    .btn-precio {
        padding: 10px 40px;
        font-size: 20px;
        border-radius: 5px
    }

    /*footer*/
    .footer {
        height: 60px;
    }

    .footer-content {
        padding-top: 60px;
        padding-bottom: 10px;
        display: block;
    }

    .logo-info {
        width: 100%;
    }

    .descripcion {
        width: 80%;
        height: 35px;
    }

    .brand {
        font-size: 20px;
    }

    .brand p {
        font-size: 10px;
    }

    .social-media {
        width: 100%;
        height: 45px;
        margin-top: 20px;
        text-align: center;
        display: flow-root;
    }

    .social-media .icons {
        width: 35px;
        height: 35px;
    }

    .social-media .icons i {
        font-size: 24px;
        line-height: 5px;
    }

}

@media screen and (max-width: 350px) {

    .menu-navegacion {
        top: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 5px;
    }

    /*paquetes*/

    .columna {
        width: 70%;
        border-radius: 5px;
        padding: 20px;
        font-size: 12px;
    }

    .tittle-paq {
        font-size: 16px;
    }

    .columna span {
        font-size: 30px;
    }

    .btn-precio {
        padding: 3px 15px;
        font-size: 18px;
        border-radius: 3px;
    }

    .brand {
        font-size: 18px;
    }

    .brand+p {
        font-size: 10px;
    }

}
